.projects-section {
    height: 80vh;
}

.projects-first-section-container {
    width: 100vw;
    height: 40%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.projects-section-text-container {
    width: 40%;
    height: 100%;
    
}
.projects-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background: linear-gradient(to right, #c299ff, #ff7f7f, #ffa64d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects-description {
    font-size: clamp(.5rem, 2.5rem, 3.3rem);
    margin-top: 8%;
}

.project-section-btn-div {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: end;
}

.projects-btn {
    width: 20%;
    height: 20%;
    border: none;
}

#project-btn {
    position: relative;
    z-index: 2000;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    
}
#project-btn-background {
  z-index: 2;
  position: absolute;
  top: 2%;
  right: -1.5%;
  opacity: 0.6;
  background: linear-gradient(to right, purple, red, orange);
}
.carousel-container {
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3%;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scrollbar-width: thin; 
    scrollbar-color: black transparent; 
}
.project-card {
    flex-shrink: 0;
    width: 35%;
    height: 80%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
    scroll-snap-align: center;
    border: 3px solid whitesmoke;
}
.project-card:hover {
    transform: scale(1.02); 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); 
    cursor: pointer;
}
.carousel-container::-webkit-scrollbar {
    height: 10px; 
}

.carousel-container::-webkit-scrollbar-thumb {
    background-color: black; 
    border-radius: 20px; 
    border: 2px solid white; 
}

.carousel-container::-webkit-scrollbar-thumb:hover {
    background-color: darkgray; /* Changes thumb color on hover */
}

.carousel-container::-webkit-scrollbar-track {
    background-color: transparent; /* Background of the scrollbar track */
    border-radius: 10px; /* Makes the track edges rounded */
}
.mindGymImg {
    width: 100%;
    height: 60%;
}
.project-description-div {
    background-color: white;
    height: 40%;
    padding: 5%;
}
.colorful-card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: linear-gradient(to right, #c299ff, #ff7f7f, #ffa64d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; /* Ensures the gradient applies properly */
    text-align: center;
    margin-bottom: 5%;
}

.company-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5%;
    color: black;
}
.view-project-text {
    color: hsl(0, 0%, 30%);
}

@media (max-width: 1024px) {

.projects-section {
   height: 70vh;
}

.projects-text {
    font-size: 2.8rem;
}
.projects-description {
    font-size: 3.3rem;
    margin-top: 8%;
}
.projects-first-section-container {
    height: 40%;
    width: 80%;
}

.projects-section-text-container {
    width: 50%;
    height: 100%;
}

.projects-btn {
    width: 25%;
    height: 15%;
    border: none;
}
  .project-card {
    width: 35%;
    height: 50%;
}
}

@media (min-width: 600px) and (max-width: 850px) {
    

    .projects-section-text-container{
        width: 70%;
    }
    .projects-btn {
        width: 30%;
        height: 15%;
        border: none;
    }
    .carousel-container {
        padding-top: 5%;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    .projects-section {
        height: auto;
        margin-top: 20vh;
    }
    .projects-section-text-container {
    width: 80vw;
    height: 100%;
    }
    .projects-text {
        font-size: 1.8rem;
    }
    .projects-description {
        font-size: clamp(1rem, 2.2rem, 2.5rem);
    }
    .project-section-btn-div {
        width: 100%;
        height: 10vh;
        position: relative;
        display: flex;
        justify-content: start;
        margin-top: 5%;
    }
    .projects-first-section-container {
        flex-direction: column;
        margin-bottom: 5%;
    }
    .projects-btn {
        width: 30%;
        height: 50%;
        border: none;
    }
    #project-btn {
        font-size: .8rem;
    }
    #project-btn-background {
        top: 3.5%;
        left: 1.5%;
        opacity: 0.6;
        background: linear-gradient(to right, purple, red, orange);
      }
      .project-card {
        width: 100%;
        height: 80%;
        box-sizing: border-box;
        margin-bottom: 30%;
        padding: 0;
        display: flex;
        flex-direction: column;
        color: white;
        
    }

    .carousel-container {
        width: 80vw;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15%;
        overflow-x: auto;
        scroll-snap-type: none; 
        scrollbar-width: none; 
        scrollbar-color: none; 
    }
}